{% extends 'base.html' %}

{% block content %}
<div class="col-4 m-auto pt-2 pb-2 text-center">
    <h1>Alunos</h1>
</div>

<div class="col-4 m-auto pt-2 pb-2 text-center">
    <a href="/student_form" class="btn btn-outline-secondary btn-sm">+</a>
</div>

<div class="col-4 m-auto pt-4 pb-2 text-center">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">FUNÇÕES</th>
        </tr>
      </thead>
      <tbody>
      {% for student in students %}
        <tr>
            <th>{{student.id}}</th>
            <td>{{student.nome}}</td>
            <td>{{student.cpf}}</td>
            <td>
                <a href="/view_student/{{student.id}}" class="btn btn-outline-secondary btn-sm ">Visualizar</a>
                <a href="/edit_student/{{student.id}}" class="btn btn-outline-secondary btn-sm ">Atualizar</a>
                <a href="/delete_student/{{student.id}}" class="btn btn-outline-secondary btn-sm  btnDel">Deletar</a>
            </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}
